.property-1-variant-3 .software-engineer {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 32px;
  color: #4EB2B2;
}
.property-1-variant-3 {
  display: flex;
  box-sizing: border-box;
}
