.property-1-default-2 .whats-app-image-20240612-at-1855009933-a-6121 {
  background: url('../assets/images/whats_app_image_20240612_at_1855009933_a_6121.jpeg') 50% / cover no-repeat;
  width: 37px;
  height: 37px;
}
.property-1-default {
  display: flex;
  box-sizing: border-box;
}
