.property-1-default-3 .whats-app-image-20240612-at-18545822994-eee-1 {
  background: url('../assets/images/whats_app_image_20240612_at_18545822994_eee_1.jpeg') 50% / cover no-repeat;
  width: 40px;
  height: 38px;
}
.property-1-default {
  display: flex;
  box-sizing: border-box;
}
