.property-1-default-1 .whats-app-image-20240612-at-185459-ec-9-de-25-e-1 {
  background: url('../assets/images/whats_app_image_20240612_at_185459_ec_9_de_25_e_1.jpeg') 50% / cover no-repeat;
  width: 36px;
  height: 36px;
}
.property-1-default {
  display: flex;
  box-sizing: border-box;
}
